@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 10%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

button {
    appearance: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: inherit;
    border: none;
}

::backdrop {
    background-color: #0005;
}

.sidebar {
    color: white;
    background-color: hsl(240, 25%, 25%);
    width: 200px;
    position: sticky;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar > * {
    padding: 15px;
}

.sidebar > button:hover {
    background-color: hsl(240, 25%, 35%);
}

.sidebar > button:active {
    background-color: hsl(240, 25%, 45%);
}

.proj-button {
    margin-bottom: 60px;
}

.main {
    background-color: hsl(30, 100%, 97%);
    width: calc(1920px - 200px);
}

dialog {
    justify-self: center;
    align-self: center;
}

.header {
    line-height: 1;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.header > h1 {
    font-size: 3rem;
}

.header > button {
    background-color: white;
    border: 1px solid black;
    padding: 15px;
}

.header > button:hover {
    background-color: hsl(0, 0%, 90%);
}

.task {
    margin-bottom: -1px;
    border: solid black;
    border-width: 1px 0;
    border-collapse: separate;
}

.row {
    background-color: hsl(350, 100%, 97%);
    font-size: 1.4rem;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto 150px 150px auto auto auto;
    gap: 15px 30px;
}

.row:hover {
    background-color: hsl(350, 100%, 94%);
}

.row svg:not(.drop) {
    height: 24px;
    width: auto;
}

.drop {
    height: 12px;
    width: auto;
    align-self: center;
} 

.row button {
    padding: 5px;
    height: 34px;
    align-self: center;
}

.row button:hover {
    background-color: #0003;
    border-radius: 100%;
}

.row > div {
    padding: 5px;
    align-self: center;
}

.priority {
    font-weight: 500;
    border-radius: 20px;
}

.high {
    color: hsl(0, 100%, 45%);
}

.low {
    color: hsl(120, 100%, 30%);
}

.check:hover {
    fill: hsl(120, 100%, 50%);
}

.cross:hover {
    fill: hsl(0, 100%, 50%);
}

.pencil:hover {
    fill: hsl(0, 0%, 100%);
}

.desc {
    border-top: 1px solid black;
    padding: 10px 25px;
    background-color: hsl(350, 100%, 95%);
}

.desc:hover {
    background-color: hsl(350, 100%, 94%);
}

dialog {
    appearance: none;
    padding: 30px 100px;
}

.proj-form,
.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.proj-title {
    appearance: none;
    width: 140%;
    text-align: center;
    padding: 10px 0;
    border: 1px black solid;
    border-radius: 20px;
    box-shadow: 0 0 5px #0003;
}

.proj-title:focus {
    outline: none;
    border: 1px blue solid;
}

.proj-submit,
.task-submit {
    padding: 10px 20px;
    border-radius: 20px;
}

.proj-submit:hover,
.task-submit:hover {
    background-color: #0002;
}

.task-form > div {
    width: 100%;
    display: grid;
    grid-template-columns: 81px 200px;
    align-items: center;
    gap: 15px;
}

.task-form > div > input,
.task-desc > textarea {
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 16px;
    padding: 5px 10px;
}

.task-form > div > input:focus,
.task-desc > textarea:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px #0003;
}

.task-desc > textarea {
    resize: none;
}

select,
::picker(select) {
    appearance: base-select;
    border-radius: 15px;
}

select::picker-icon {
  color: #999999;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
    top: calc(anchor(bottom));
}

selectedcontent {
    padding: 5px 15px;
}

.option {
    padding: 5px 15px;
}

option:checked {
    background-color: #eee;
    font-weight: 500;
}

.option::checkmark {
    display: none;
}