:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 75%);
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 200px;
}

body > :not(.sidebar) {
    flex: 1;
}

dialog {
    justify-self: center;
    align-self: center;
}