:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 200px;
}

body > :not(.sidebar) {
    flex: 1;
}

dialog {
    justify-self: center;
    align-self: center;
}

.task {
    max-width: fit-content;
}

.row {
    background-color: hsl(350, 100%, 90%);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 15px 30px;
}

.row:hover {
    background-color: hsl(350, 100%, 80%);
}

.desc {
    padding: 10px 25px;
    background-color: hsl(350, 100%, 90%);
}